<roleFilter>
  <id>6c75f525:14422fe66bb:-7ffe</id>
  <name>roleFilter</name>
  <className>org.geoserver.security.filter.GeoServerRoleFilter</className>
  <httpResponseHeaderAttrForIncludedRoles>roles</httpResponseHeaderAttrForIncludedRoles>
  <roleConverterName>roleConverter</roleConverterName>
</roleFilter>