<passwordPolicy>
  <id>-54fbcd7b:1402c24f6bc:-7ffa</id>
  <name>master</name>
  <className>org.geoserver.security.validation.PasswordValidatorImpl</className>
  <uppercaseRequired>true</uppercaseRequired>
  <lowercaseRequired>true</lowercaseRequired>
  <digitRequired>true</digitRequired>
  <minLength>12</minLength>
  <maxLength>-1</maxLength>
</passwordPolicy>
